<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.erkkiperkele.coachy"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_coachy_green"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <uses-sdk android:minSdkVersion="14"
                  android:targetSdkVersion="18"/>

        <activity
            android:name=".View.ActiveWorkoutSessionView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".View.WorkoutSessionStatsView"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".View.ActiveWorkoutSessionView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.ActiveWorkoutSessionView"/>
        </activity>
    </application>

</manifest>
